<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <span>テキストマイニング</span>
    </div>
  </div>
</nav>

<div class="container">
  <table class="table table-striped table-bordered">
    <caption><b>マイニング対象テキスト：</b><%= @text %><br><b>(/wiki/雇用保険参照)</b></caption>
    <tr>
      <th>No.</th>
      <th>表層形</th>
      <th>品詞</th>
      <th>品詞細分類1</th>
      <th>品詞細分類2</th>
      <th>品詞細分類3</th>
      <th>活用形</th>
      <th>活用型</th>
      <th>原形</th>
      <th>読み</th>
      <th>発音</th>
    </tr>
    <% @word.each_with_index do |element, i| %>
    <tr>
      <td><%= i+1 %></td>
      <td><%= element[0] %></td>
      <% element[1].split(",").each do |feature| %>
      <td><%= feature %></td>
      <% end %>
    </tr>
    <% end %>
  </table>
</div>
