<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><%= h1.html_safe %></a>
    </div>
  </div>
</nav>

<%= render partial: 'layouts/breadcrumb', locals: { breadcrumb: breadcrumb.html_safe } %>

<hr>
